In [1]:
import pandas as pd
import nltk


#making width of the column viewable
pd.set_option('display.max_colwidth',None)
 #read the data into a dataframe
df=pd.read_csv('training.csv', encoding = "ISO-8859-1", low_memory=False)
df.head()

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by texting it... and might cry as a result School today also. Blah!
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Managed to save 50% The rest go out of bounds
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all. i'm mad. why am i here? because I can't see you all over there."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [2]:
sent=df.iloc[:,[0]]
sent.head()

   0
0  0
1  0
2  0
3  0
4  0

In [3]:
tweet=df.iloc[:,[5]]
tweet.head()

  @switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D
0     is upset that he can't update his Facebook by texting it... and might cry as a result  School today also. Blah!
1                           @Kenichan I dived many times for the ball. Managed to save 50%  The rest go out of bounds
2                                                                     my whole body feels itchy and like its on fire
3     @nationwideclass no, it's not behaving at all. i'm mad. why am i here? because I can't see you all over there.
4                                                                                       @Kwesidei not the whole crew

In [6]:
df=pd.concat([tweet,sent])
df.head()

,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D",0
0,is upset that he can't update his Facebook by texting it... and might cry as a result School today also. Blah!,NaN
1,@Kenichan I dived many times for the ball. Managed to save 50% The rest go out of bounds,NaN
2,my whole body feels itchy and like its on fire,NaN
3,"@nationwideclass no, it's not behaving at all. i'm mad. why am i here? because I can't see you all over there.",NaN
4,@Kwesidei not the whole crew,NaN

In [8]:
df.columns=['Tweet','Sent']
df.head()

,Tweet,Sent
0,is upset that he can't update his Facebook by texting it... and might cry as a result School today also. Blah!,NaN
1,@Kenichan I dived many times for the ball. Managed to save 50% The rest go out of bounds,NaN
2,my whole body feels itchy and like its on fire,NaN
3,"@nationwideclass no, it's not behaving at all. i'm mad. why am i here? because I can't see you all over there.",NaN
4,@Kwesidei not the whole crew,NaN

In [14]:
df.apply(LabelEncoder().fit_transform)

           Tweet  Sent
0        1413730     0
1         159096     0
2        1462849     0
3         576979     0
4         164408     0
...          ...   ...
1599994  1581465     1
1599995  1581465     1
1599996  1581465     1
1599997  1581465     1
1599998  1581465     1

[3199998 rows x 2 columns]

In [15]:
from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction.text import CountVectorizer
def negative_tweets(text,sentiment,n):
    #create an instance of a class
    lgr=LogisticRegression(solver='lbfgs',max_iter=2500,random_state=1234)
    cv=CountVectorizer()

    dtm=cv.fit_transform(text)

    lgr.fit(dtm,sentiment)

    coefs=lgr.coef_[0]

    features=cv.get_features_out()

    df=pd.DataFrame({'Tokens':features,'coefficients':coefs})

    return df.nsmallest(n,'coefficients')
negative_tweets(df.Tweet,df.Sent,10)

ValueError: np.nan is an invalid document, expected byte or unicode string.